*{
    margin:0;
    padding:0;
}
#anasayfa-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: Helvetica;
   min-height: 210%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/arkaplan.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#anasayfa-baslik
{
    color:#800040;
    font-family:"Comic Sans MS";
    font-size:50pt;
    font-weight: bold;
    text-align: center;
}
#anasayfa-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight:bold;
    text-align: center;
}
#anasayfa-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:15px; 
    font-weight:bold;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    width:73%;
    height:130%;
    background-image: url("img/arkaplan.jpg");
    background-color:rgba(125, 198, 227, 0.137);
    border-style: solid;
    border-width: 4px;
    border-color: #7dc6e3a8;
}
.haberler
{
    position: relative;
    margin-bottom: 450px;
}
.arama
{
    position: relative;
    margin-bottom: -1630px;
}
.döviz
{
    position: relative;
    margin-bottom: -990px;
}
.hava-durumu
{
    position: relative;
    margin-bottom: 780px;
}
#tarihce-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: Helvetica;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#tarihce-baslik
{
    color:#800040;
    font-family:"Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#tarihce-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#tarihce-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#makale-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: Helvetica;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#makale-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size:50pt;
    font-weight: bold;
    text-align: center;
}
#makale-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#makale-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#diller-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: Helvetica;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#diller-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#diller-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#diller-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#kullanim-sayfa
{
   font-size: 22px;
   font-weight:bold;
   font-family: Helvetica;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#kullanim-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#kullanim-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#kullanim-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#anket-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: Helvetica;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#anket-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#anket-yazi /* tepedeki menü */
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#anket-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#kutu
{
    text-align: left;
    margin-left: -180px;
}
#bitir
{
    width: 150px;
    height: 50px;
    background: hsl(308, 25%, 65%);
    font-size: bold;
    color: black;
    margin-top: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
}
#bitir:hover
{
    opacity:.9;
}
#gönder 
{
    width: 150px;
    height: 50px;
    background: hsl(308, 25%, 65%);
    color:black;
    font-size: bold;
    margin-top: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
}
#gönder:hover 
{
    opacity:.9;
}
input, textarea 
{
    width: 400px;
    height: 25px;
    background:#efefef;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    margin-top: 3px;
    font-family: Helvetica;
    font-size: 0.9em;
    color:#3a3a3a;
}
textarea 
{
    height: 200px;
    background-size: contain;
    font-weight:bold;
}
input:focus, textarea:focus 
{
    border-style: solid;
    border-width:1px;
    border-color: #97d6eb;
}
#iletisim-sayfa
{
    font-size: 22px;
    font-weight: bold;
    font-family: Helvetica;
    min-height: 100%;
    min-width: 1024px;
    margin-top: -20px;
    background-image: url("img/diller.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#iletisim-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#iletisim-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#iletisim-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:22px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#görüs
{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#tamam
{
    text-align: center;
    width: 150px;
    height: 50px;
    color:black;
    font-size: bold;
    margin-top: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    cursor: pointer;
}
#tamam:hover 
{
    opacity:.9;
}
#galeri-sayfa
{
    font-size: 22px;
    font-weight:bold;
    font-family: Helvetica;
    min-height: 100%;
    min-width: 1024px;
    margin-top: -20px;
    background-image: url("img/diller.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#galeri-baslik
{
    color:#800040;
    font-family: "Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#galeri-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#galeri-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:18px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
#siteici-sayfa
{
    font-size: 22px;
    font-weight:bold;
    font-family: Helvetica;
    min-height: 100%;
    min-width: 1024px;
    margin-top: -20px;
    background-image: url("img/diller.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#siteici-baslik
{
    color:#800040;
    font-family:"Comic Sans MS";
    font-size: 50pt;
    font-weight: bold;
    text-align: center;
}
#siteici-yazi
{
    font-size: 60px; 
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}
#siteici-icerik
{
    width: 996px;
    min-height: 598px;
    font-size:18px; 
    font-weight:bold;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    background-color:rgba(185, 197, 202, 0.178);
    border-style: solid;
    border-width: 4px;
    border-color: black;
}
.aramaButton
{
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
ul
{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  hsla(244, 15%, 65%, 0.534);
}
li
{
    float: left;
}
li a
{
    display: block;
    color: black;
    text-align: center;
    padding:16px 18px;    
    text-decoration:none;
}  
li a:hover
{
    background-color: #800040;
}
.aktif
{
    background-color: #800040!important;
}
.sosyal-medya
{
    text-align:center;
    font-family:Helvetica;
}
#container
{
    display:flex;
    justify-content:center;
    padding:1px;
    align-items:center;
}
.sosyal-medya li 
{
    display: inline-block;
}
.sosyal-medya li a 
{
    text-align:center;
    font-size:30px;
    border-bottom: none;
}
.sosyal-medya img 
{
    width: 50px;
    height: 50px;
    margin-left: 100px;
}
.hesap
{
    width:360px;
    margin:auto;
}
table
{
    background:hsla(244, 15%, 65%, 0.534);
    border-spacing: 10px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
   
}
table .btn
{
    width: 60px;
    background: hsla(244, 15%, 65%, 0.534);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    line-height: 60px;
    color: #fff;
    font-size: 1.5em;
    font-family: Helvetica;
}
#islem, #gosterge
{
    padding:5px;
    text-align: right;
}
#gosterge
{
    height: 60px;
    background: #ddfafa;
    color:#333;
    font-size: 1.8em;
    text-align: right;
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box;
}
#islem
{
    background: rgba(167, 162, 223, 0.534);
    border-style:none;
}
footer
{
    font-size: 35px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
} 
