*{
    margin:0;
    padding:0;
}
body{
font-family: 'Open Sans', sans-serif;

}

header{
    width:100%; 
    height:250px; 
    background-color:#cd84f1;}
.header{
    width:960px; 
    height: 250px; 
    margin:0 auto;}
.isim{
    float:left; 
    font-size: 100px; 
    font-weight:bold;
    color:#1e272e;
    margin-left:480px; 
    margin-top: -100px;
    text-align: center;}

.container{
    width: 960px;
    height:600px;
    margin:0 auto;
    border: 1px solid #ccc; 
    background-color: #fff; 
    margin-top:-200px; }
.container.navbar{
    width: 100%; 
    height: 80px; 
    background-color: #6F1E51; }

.navbar.ul{ 
    float: left; 
    font-size: 50px;
    margin-right:120px; 
    margin-bottom:300px;
    color: #6F1E51;
}
.navbar.ul li{
    list-style:none;
    display:inline-block; 
    margin: 0 8px;
    line-height:100px;
  
}
.navbar ul li a{
    color: rgb(68, 10, 51);
    text-decoration:none;
    font-size: 20px;
    margin-left:-250px;
    margin-bottom:500px;
    font-family:sans-serif;    }

.navbar ul li a.active
.navbar ul li a:hover{
    background: #6F1E51;
    border-radius:2px;}

.container.center{
    position:absolute;
    bottom:200%;
    left:50%;
    margin-bottom: 100px;
    font-family: sans-serif;
   
}

.center h1{
    color: black;
    font-size: 50px;
    margin-bottom: 300px;
    margin-right: -500px;
    width: 800px;}

.center.buttons{
    margin-right:1000px;
    margin-bottom: 500px;
    

}
.buttons button{
    margin-right: 100px;
    margin-bottom: 300px;
    height: 75px;
    width: 150px;
    font-size:18px;
    color:#bd8181;
    text-align:center;
    border: solid 1px red;
    
}

footer{
    width: 100%; 
    height: 100px; 
    background-color:#cd84f1; 
    color:#fff;
    
}
