*{
    margin:0;
    padding:0;
}
.container.center
{
    position:absolute;
    text-align:center;
    margin-bottom: 500px;
    font-family: sans-serif;
}
.center h1
{
    color: rgb(56, 6, 48);
    font-size: 80px;
    width: 800px;
}
.center.buttons
{
    margin-right: 100px;
    margin-bottom: 500px;
}
.buttons button
{
    margin-left: 400px;
    margin-bottom: 500px;
    height: 60px;
    width: 150px;
    font-size:20px;
    color:#bd8181;
    border: solid 1px rgb(49, 5, 46); 
}
.havadurumu
{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#haberler
{
    float:right;
    position: fixed;
}
#doviz
{
    position: fixed;
    top: 30px;
    right: 5px;
}
#anasayfa-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/arkaplan.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#anasayfa-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:70px;
}
#anasayfa-icerik
{
    font-size:50px; 
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
#tarihce-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#tarihce-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#tarihce-yazi
{
    font-size: 60px; 
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
#makale-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#makale-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#makale-yazi
{
    font-size: 60px; 
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
#diller-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#diller-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#diller-yazi
{
    font-size: 60px; 
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
#kullanim-sayfa
{
   font-size: 22px;
   font-weight:bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#kullanim-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#kullanim-yazi
{
    font-size: 60px; 
    font-family: sans-serif;
    font-weight:bold;
    text-align: center;
}
#anket-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#anket-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#anket-yazi
{
    font-size: 60px;
    font-family: sans-serif;
    font-weight:bold;
}
form 
{
    margin:0 auto;
}
#gönder 
{
    width:130px;
    height:50px;
    background: rgb(25, 161, 179);
    color:black;
    margin-top:20px;
    cursor:pointer;
}
#gönder:hover 
{
    opacity:.9;
}
input, textarea 
{
    width:400px;
    height:25px;
    background:#efefef;
    border:1px solid rgb(207, 207, 207);
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}
textarea 
{
    height:200px;
    background-size: contain;
}
input:focus, textarea:focus 
{
    border:1px solid #97d6eb;
}
#iletisim-sayfa
{
   font-size: 22px;
   font-weight: bold;
   font-family: sans-serif;
   min-height: 100%;
   min-width: 1024px;
   margin-top: -20px;
   background-image: url("img/diller.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#iletisim-baslik
{
    color:#800040;
    font-family: sans-serif;
    font-size:60px;
}
#iletisim-yazi
{
    font-size: 60px;
    font-family: sans-serif;
    font-weight:bold;
}
ul
{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  hsla(244, 15%, 65%, 0.534);
}
li
{
    float: left;
}
li a
{
    display: block;
    color: black;
    text-align: center;
    padding:16px 18px;    
    text-decoration:none;
}  
li a:hover:not(.active)
{
  background-color: #800040;
}
.active
{
  background-color: #800040;
}
.sosyal-medya
{
text-align:center;
font-family:sans-serif;
}
#container
{
display:flex;
justify-content:center;
padding:1px;
align-items:center;
}
.sosyal-medya li 
{
display: inline-block;
}
.sosyal-medya li a 
{
font-size:45px;
border-bottom: none;
}
.sosyal-medya img 
{
width: 50px;
height:50px;
margin-left: 100px;
}
.footer
{
    background-color: rgb(25, 161, 179);
    padding: 0px;
    position:fixed;
    bottom: -50;
    width: 100%;
} 
